[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/gohugo-ananke/ananke
[submodule "themes/doors"]
	path = themes/doors
	url = https://github.com/zzzmisa/hugo-theme-doors.git
